.custom-logo {
    max-width: 70px;
    width: 70px;
    height: auto;
    display: block;
}
.dropdown {
    position: relative;
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background: $dark-blue;
    min-width: 160px;
    z-index: 1;
    opacity: 1 !important;
    right: 0;
    text-align: left;
}
/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    // padding: 5px 15px 5px 20px;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
}